*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  font: 1rem/1.429rem "PT Sans", Arial, sans-serif; }

h1 {
  font: 2.286rem/4rem "PT Sans", Arial, sans-serif; }

h2 {
  font: 1.714rem/2.286rem "PT Sans", Arial, sans-serif; }

h3 {
  margin: 24px 0 12px;
  font: 1.429rem/2rem "PT Sans", Arial, sans-serif; }

h4 {
  font: 1.143rem/1.429rem "PT Sans", Arial, sans-serif; }

h5 {
  font: 1rem/1.429rem 500 "PT Sans", Arial, sans-serif; }

.fullscreen {
  height: 100vh; }

.btn-full-width {
  width: 100%; }

.card {
  background-color: #F2F1F3; }

.btn-primary {
  background-color: #3B7BD6;
  border-color: #3B7BD6; }

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #cccccc;
  border-color: #cccccc; }

.btn-light {
  background-color: transparent;
  border-color: transparent; }

.btn-light:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2); }

.btn {
  height: 43px; }

.btn:hover {
  cursor: pointer; }

.hidden {
  display: none !important; }

#header {
  height: 50px;
  background-color: #EF5350 !important; }

body {
  position: relative;
  height: 100vh; }

#game-section {
  position: absolute;
  top: 50px;
  bottom: 73px;
  left: 0;
  width: 100%;
  margin: 0; }

#game-play-section {
  padding: 0; }

#game-controls {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  height: 73px;
  width: 100%; }

@media screen and (max-width: 991px) {
  #game-controls {
    height: 126px; } }
.token {
  width: calc(6.6666666% - 4px);
  height: calc(6.6666666% - 4px);
  color: white;
  background-color: #009688;
  border-radius: 2px;
  line-height: calc(6.6666666% - 4px);
  font-size: 21px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  z-index: 1;
  cursor: grab;
  cursor: hand;
  cursor: -webkit-grab; }

#alert-container {
  margin: 0;
  left: 0;
  width: 100%;
  position: absolute;
  bottom: 0; }

@media screen and (max-width: 991px) {
  #board {
    height: min(98vh - 218px, 100vw);
    width: min(98vh - 218px, 100vw);
    margin: -4rem auto 0; } }
@media screen and (min-width: 992px) {
  #board {
    height: min(98vh - 123px, 62vw);
    width: min(98vh - 123px, 62vw);
    margin: 1rem auto 0; } }
#board {
  list-style: none;
  padding: 0px; }
  #board::after {
    content: '';
    clear: both;
    display: block; }
  #board .token {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 200%; }

#player-hand {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #eeeeee;
  background: #f8f8f8; }
  #player-hand .token {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    width: 4.4vh;
    height: 4.4vh;
    line-height: 4.4vh; }

.game-info {
  height: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-around; }

#confirm-button-wrapper {
  padding: 1rem;
  background: #f8f8f8;
  border-top: 1px solid #eeeeee; }
  #confirm-button-wrapper #confirm-play {
    width: 100%;
    display: block;
    margin: 0 auto; }

.cell {
  vertical-align: middle;
  background-color: #F2F1F3;
  display: inline-block;
  border-radius: 2px;
  margin: 2px;
  width: calc(6.6666666% - 4px);
  height: calc(6.6666666% - 4px);
  text-align: center;
  line-height: calc(6.6666666% - 4px);
  position: relative; }

.cell.hovered {
  background-color: #EF5350 !important; }

.cell::after {
  width: calc(6.6666666% - 4px);
  height: calc(6.6666666% - 4px);
  position: absolute;
  left: 37%;
  top: 50%; }

.cell-bis {
  background-color: #F0CBF6; }

.cell.cell-triple {
  background-color: #A5DCFD; }

.cell.cell-triple::after {
  content: 'x3'; }

.cell.cell-double {
  background-color: #FFBAB1; }

.cell.cell-double::after {
  content: "x2"; }

.cell.cell-bis::after {
  font-family: 'Material Icons';
  content: '\e042' !important; }

.cell.cell-start::after {
  font-family: 'Material Icons';
  content: '\e838' !important; }

#player-scores-mobile {
  height: 42px;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee; }
  #player-scores-mobile .score:first-child {
    border-left: 0px; }
  #player-scores-mobile .score {
    border-left: 1px solid #eeeeee;
    width: 45%;
    height: 2rem;
    font: 1.143rem/1.429rem "PT Sans", Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px; }
    #player-scores-mobile .score .player-info {
      display: flex;
      font-size: 1.429rem/2rem "PT Sans", Arial, sans-serif; }
      #player-scores-mobile .score .player-info .player-turn {
        color: #FFB300; }
      #player-scores-mobile .score .player-info .player-avatar {
        display: none;
        display: inline-block; }
    #player-scores-mobile .score .player-score {
      font-weight: 600; }

#player-scores {
  border-left: 1px solid #eeeeee;
  background: #f8f8f8;
  position: relative; }
  #player-scores h3 {
    margin-top: 16px;
    margin-bottom: 16px; }
  #player-scores .score {
    background-color: #F2F1F3;
    margin: 8px 0;
    padding: 8px 16px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #player-scores .score#score-player-1 {
      border-left: 4px solid #EF5350; }
    #player-scores .score#score-player-2 {
      border-left: 4px solid #009688; }
    #player-scores .score#score-player-3 {
      border-left: 4px solid #FFB300; }
    #player-scores .score#score-player-4 {
      border-left: 4px solid #AB47BC; }
    #player-scores .score .player-info {
      display: flex;
      align-items: center; }
      #player-scores .score .player-info .player-turn {
        color: #3B7BD6; }
    #player-scores .score .player-avatar {
      width: 64px;
      height: 64px;
      margin: 0 8px;
      background-size: contain; }
    #player-scores .score .player-score {
      font-weight: 600; }
    #player-scores .score #player-1-image {
      background-image: url("../images/Avatar 1.png"); }
    #player-scores .score #player-2-image {
      background-image: url("../images/Avatar 2.png"); }
    #player-scores .score #player-3-image {
      background-image: url("../images/Avatar 3.png"); }
    #player-scores .score #player-4-image {
      background-image: url("../images/Avatar 4.png"); }

#game-creation-form .input-group {
  width: 100%; }
#game-creation-form #numperPlayerSelect {
  width: 100%; }

#game-finished-section {
  text-align: center; }
  #game-finished-section .image {
    width: 300px;
    height: 300px;
    margin: 24px auto; }
    #game-finished-section .image.winner {
      background-image: url("../images/cup.png");
      background-size: contain;
      width: 160px;
      height: 160px; }
  #game-finished-section .btn {
    margin-bottom: 32px; }
  #game-finished-section #player-scores {
    border-left: none; }
    #game-finished-section #player-scores .score {
      padding: 8px 16px;
      border-left: none; }
    #game-finished-section #player-scores .player-info {
      display: flex;
      align-items: center; }
      #game-finished-section #player-scores .player-info .player-turn {
        display: none; }
      #game-finished-section #player-scores .player-info .player-avatar {
        margin: 0 8px 0 0; }

.rules li {
  margin: 4px 0; }
.rules .token {
  position: relative;
  cursor: auto;
  display: inline-block; }
.rules .cell {
  display: inline-block;
  position: relative;
  float: none; }
  .rules .cell.cell-double {
    background-color: #FFBAB1;
    margin-bottom: -4px; }
  .rules .cell.cell-double::after {
    content: 'x2'; }
  .rules .cell.cell-triple {
    background-color: #A5DCFD;
    margin-bottom: -4px; }
  .rules .cell.cell-triple::after {
    content: 'x3'; }
  .rules .cell.cell-start {
    background-color: #FFBAB1;
    margin-bottom: -4px; }
  .rules .cell.cell-start::after {
    font-family: 'Material Icons';
    content: '\e838'; }
  .rules .cell.cell-repeat {
    background-color: #F0CBF6;
    margin-bottom: -4px; }
  .rules .cell.cell-repeat::after {
    font-family: 'Material Icons';
    content: '\e042'; }

/*# sourceMappingURL=main.css.map */
