#list-games{
  padding: 0px;
  list-style: none;

}

.individual-game{
  padding: 24px 16px;
  margin: 16px 0;
  h3{
    margin-top: 0px;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      display: inline;
      padding: 0 4px;
      border-right: 1px solid $gray;
      text-transform: capitalize;
      &:last-child{
        border-right: none;
      }
    }
  }
  .score-wrapper{
    display: flex;
    .score{
      width: 25%;
      .player-turn{
        display: none;
      }
    }
  }
  .copy-link-group
  {
    @extend .input-group;
    margin-bottom: .8rem;
    .copy-link-text{
      @extend .form-control;
    }
    .copy-link-group-append{
      @extend .input-group-append;
    }
  }

}
